<div class="fv-section" *ngIf="!isLoading">
    <div class="chain-card" *ngFor="let chain of entryData['construct_chains']; let chainIdx = index;">
        <div class="chain-header">
            <div class="chain-badge">
                <i class="bi bi-link-45deg me-2"></i>Chain: {{chain.chain_name}}
            </div>
        </div>
        <div class="chain-content">
            <app-fv-sequence-merge [sequence]="chain.alignment.pdb_sequence" [fvId]="chain.chain_name + '_dssp'"
                [dsspData]="dsspData" [chainName]="chain.chain_name" [chainData]="chain"></app-fv-sequence-merge>
        </div>
    </div>
</div>